<div id="loading" style="display: none">
    <div id="bg">
    </div>
    <div id="img">
        Loading...
        <br />
        <br />
        <img src='@Url.Content("~/img/loading-spinner-blue.gif")' />
    </div>
</div>
